:root {
    --branco-principal: #FFFFFF;
    --Cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7; 
    --cor-de-fundo:  #00030C;
    --fonte-principal: 'inter';
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {margin: 0;
   padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container-botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em ;

}

.botao-secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container-aviso {
    font-size: 12px;
    color: var(--Cinza-secundario);

}

.container-titulo {
    font-size:28px;
    font-weight:400;
}
.container-imagem {
    margin:1em 0 2em 0;
}

.container-caixa {
    margin: 0 6em;
}

.secundario-imagem {
    width: 55%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao-titulo {
    font-weight: 700;
    font-size: 30px;
    color: var(--branco-principal);
    margin-bottom: 0.1em ;
}

.container-secundario {
    display: inline-flex;
}

.descricao-texto {
    align-items: center;
    justify-content: center;
}

.descricao {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 50%;
}

.secundario-botao {
    display: inline-block;
    margin-top: 1em;
}

.container-descricao {
    padding: 2em;
}
.dispositivos-lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
text-align: center;
}

.dispositivos-titulo {
    font-size: 48px;
}

.lista-item { 
    font-synthesis: 32px;
    color: var(--branco-principal);
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--botoes);
    border-radius: 5px;
    padding: 1em;
    color: var(--cor-primaria);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--cor-primaria);
    text-decoration: none;
    color: var(--cor-primaria);
}

.container__aviso {
    font-size: 12px;
    color: var(--cor-secundaria);
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--cor-primaria);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cor-secundaria);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.rodape__texto {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: purple;
}

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

.rodape { text-align: center; }

.rodape__logo { margin-top: 2em; }

.rodape__lista { display: flex; justify-content: center; margin: 2em 0; list-style-type: none; }

.lista__link a{ text-decoration: none; color: var(--branco-principal); font-size: 16px; padding: 1rem; }

.rodape__texto{ font-weight: 400; font-size: 14px; color: var(--cinza-secundaria); margin: 2em 0; }